<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../public/css/login.css" rel="stylesheet">
</head>
<body>
    <div>
        <div id="login">
            <form action="/register" method="post">
                <div>
                    <h1>Create Account</h1><br><br>
                </div>
                <div id="formdiv">
                <div>
                    <label for="email">Email</label><br>
                    <div>
                        <input type="email" name="email"><br><br>
                    </div>
                </div>
                <div>
                    <label for="username">Username</label><br>
                    <div>
                        <input type="text" name="username"><br><br>
                    </div>
                </div>
                <div>
                    <label for="password">Password</label><br>
                    <div>
                        <input type="password" name="password"><br>
                    </div>
                </div>
                <div>
                    <label for="password">Confirm Password</label><br>
                    <div>
                        <input type="password" name="cpassword"><br>
                    </div>
                </div>
                <button type="submit" class="btn">Create Account</button>
                <br><br><br>
                <p>Already a member?&nbsp;<a href="/">Log in</a>&nbsp;now</p>
                <p>Joining for work?&nbsp;<a href="/aregister">Create a free artisan account</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>